In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

In [2]:
#Import CSV
SuicideData = pd.read_csv("Suicides_per_year.csv")
SocialData = pd.read_csv("users-by-social-media-platform.csv")

In [3]:
Social=SocialData.rename(columns = {'Entity':"Platform", "Monthly active users (Statista and TNW (2019))":"Monthly Users"})
SocialMedia = Social.groupby(["Year"])
Total_Users = SocialMedia.sum().reset_index().rename(columns={"Monthly Users":"Total Monthly Users"})
Total_Users

    Year  Total Monthly Users
0   2002              3000000
1   2003              4470000
2   2004             15525405
3   2005             55892892
4   2006            133727481
5   2007            323723343
6   2008            649259280
7   2009            939537344
8   2010           1459764216
9   2011           1975107328
10  2012           2730898466
11  2013           3940820465
12  2014           5104366619
13  2015           6327163506
14  2016           7730907680
15  2017           9043279773
16  2018           9071250000
17  2019           2996000000

In [4]:
Platforms = Social["Platform"].unique().tolist()

Social_Media = []
for platform in Platforms:
    x = (Social.loc[(Social["Platform"]==platform)]).rename(columns={"Monthly Users":f"{platform} Monthly Users"})
    x= x[["Year", f"{platform} Monthly Users" ]]
    Social_Media = pd.merge(Total_Users, x, on='Year', how = "outer")
    Total_Users = Social_Media

Social_Media = Social_Media.fillna(0)
Social_Media

,Year,Total Monthly Users,Facebook Monthly Users,Flickr Monthly Users,Friendster Monthly Users,Google Buzz Monthly Users,Google+ Monthly Users,Hi5 Monthly Users,Instagram Monthly Users,MySpace Monthly Users,...,Pinterest Monthly Users,Reddit Monthly Users,Snapchat Monthly Users,TikTok Monthly Users,Tumblr Monthly Users,Twitter Monthly Users,WeChat Monthly Users,Weibo Monthly Users,Whatsapp Monthly Users,YouTube Monthly Users
0,2002,3000000,0.000000e+00,0.0,3000000.0,0.0,0.0,0.0,0.000000e+00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.000000e+00
1,2003,4470000,0.000000e+00,0.0,4470000.0,0.0,0.0,0.0,0.000000e+00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.000000e+00
2,2004,15525405,0.000000e+00,3675135.0,5970054.0,0.0,0.0,0.0,0.000000e+00,980036.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.000000e+00
3,2005,55892892,0.000000e+00,7399354.0,7459742.0,0.0,0.0,9731610.0,0.000000e+00,19490059.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,1.946322e+06
4,2006,133727481,0.000000e+00,14949270.0,8989854.0,0.0,0.0,19932360.0,0.000000e+00,54763260.0,...,0.0,248309.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,1.987825e+07
5,2007,323723343,0.000000e+00,29299875.0,24253200.0,0.0,0.0,29533250.0,0.000000e+00,69299875.0,...,0.0,488331.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,1.439322e+08
6,2008,649259280,1.000000e+08,30000000.0,51008911.0,0.0,0.0,55045618.0,0.000000e+00,72408233.0,...,0.0,1944940.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,2.944940e+08
7,2009,939537344,2.760000e+08,41834525.0,28804331.0,0.0,0.0,57893524.0,0.000000e+00,70133095.0,...,0.0,3893524.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,4.136114e+08
8,2010,1459764216,5.177500e+08,54708063.0,0.0,166029650.0,0.0,59953290.0,0.000000e+00,68046710.0,...,0.0,0.0,0.0,0.0,0.0,43250000.0,0.000000e+00,19532900.0,0.000000e+00,4.805520e+08
9,2011,1975107328,7.660000e+08,66954600.0,0.0,170000000.0,0.0,46610848.0,0.000000e+00,46003536.0,...,0.0,0.0,0.0,0.0,0.0,92750000.0,4.781840e+07,48691040.0,0.000000e+00,6.426698e+08
10,2012,2730898466,9.797500e+08,79664888.0,0.0,170000000.0,107319100.0,0.0,0.000000e+00,0.0,...,0.0,0.0,0.0,0.0,146890156.0,160250000.0,1.181234e+08,79195730.0,0.000000e+00,8.446382e+08
11,2013,3940820465,1.170500e+09,80000000.0,0.0,170000000.0,205654700.0,0.0,1.175000e+08,0.0,...,0.0,0.0,0.0,0.0,293482050.0,223675000.0,1.965238e+08,118261880.0,3.000000e+08,1.065223e+09
12,2014,5104366619,1.334000e+09,0.0,0.0,170000000.0,254859015.0,0.0,2.500000e+08,0.0,...,0.0,135786956.0,0.0,0.0,388721163.0,223675000.0,4.442324e+08,154890345.0,4.987500e+08,1.249452e+09
13,2015,6327163506,1.516750e+09,0.0,0.0,170000000.0,298950015.0,0.0,4.000000e+08,0.0,...,0.0,163346676.0,0.0,0.0,475923363.0,304500000.0,6.608434e+08,208716685.0,8.000000e+08,1.328133e+09
14,2016,7730907680,1.753500e+09,0.0,0.0,0.0,398648000.0,0.0,5.500000e+08,0.0,...,143250000.0,238972480.0,238648000.0,0.0,565796720.0,314500000.0,8.475123e+08,281026560.0,1.000000e+09,1.399054e+09
15,2017,9043279773,2.035750e+09,0.0,0.0,0.0,495657000.0,0.0,7.500000e+08,0.0,...,195000000.0,297394200.0,0.0,239142500.0,593783960.0,328250000.0,9.217428e+08,357569030.0,1.333333e+09,1.495657e+09
16,2018,9071250000,2.255250e+09,0.0,0.0,0.0,430000000.0,0.0,1.000000e+09,0.0,...,246500000.0,355000000.0,0.0,500000000.0,624000000.0,329500000.0,1.000000e+09,431000000.0,0.000000e+00,1.900000e+09
17,2019,2996000000,2.375000e+09,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,...,291000000.0,0.0,0.0,0.0,0.0,330000000.0,0.000000e+00,0.0,0.000000e+00,0.000000e+00